{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block css %}
    {% endblock css %}

    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'ecommerce/favicon/favicon.svg' %}"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'ecommerce/styles/style.css' %}"
    />

    <title>{% block title %}e-commerce{% endblock title %}</title>
  </head>
  <body>
    <main>
    {% block content %}{% endblock content %} 
    </main>
  </body>
</html>
