.item-detail-box {
    display: flex;

}

.item-detail-box img {
    width: 600px;
    border-radius: 10px;
    margin: 10px;
}
.item-desc {
    margin: 10px;
}

.item-info-container {
    margin: 30px;
    width: 100%;
    padding: 10px;
}

.add-cart-btn {
    width: 300px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}

.review-item {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid rgb(118, 118, 118);
    margin: 10px;
    padding: 10px;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.mine {
    border: 1px solid rgb(129, 200, 146);
}