button {
    font-size: 15px;
    border-radius: 10px;
    margin: 20px 0 20px;
    padding: 10px;
}

.ordered-container, .review-container {
    border-radius: 10px;
    padding: 10px;
}
.ordered-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.ordered-item {
    flex: 1 1 calc(33.333% - 10px);
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid #bbbbbc;
    border-radius: 10px;
}
.ordered-container img {
    width: 150px;
    border-radius: 10px;
}
.item-des {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}


.review-item {
    border-radius: 10px;
    border: 1px solid #bbbbbc;
    margin: 10px;
    padding: 10px;
}
