.country-select-flag {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cp-input, .cp-button {
    width: 300px;
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    border: solid 1px #b1afaa;
    border-radius: 10px;
}

.address-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.cp-button {
    width: 320px;
}

.account-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
