* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
  background-color: aquamarine;
}

a {
    text-decoration: none;
    color: black;
}

input {
  background-color: #f4f2ee;
  border-radius: 10px;
}

.error {
  color: red;
}
