{% extends "ecommerce_base/base_with_header.html" %}
{% load static %}

{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'ecommerce/styles/cart.css' %}"
/>
{% endblock css %} 


{% block content %}

{% if cart %}

{% for item in cart_items %}

<div class="cart-item">
    <div class="cart-item-des">
        <img src="{{item.item.image.url}}" alt="item-img" />
        {{ item.item }}
        {{ item.quantity }} * {{ item.price }}
    </div>
    <div class="cart-btn-container">
        <a href="{% url 'increase-quantity' item.item.id %}"><button class="mod-btn">+</button></a>
        <a href="{% url 'decrease-quantity' item.item.id %}"><button class="mod-btn">-</button></a>
        <a href="{% url 'remove-item' item.item.id %}"><button class="mod-btn delete">x</button></a>
    </div>
</div>
{% endfor %}
<br />
total: {{ total }}
<a href="{% url 'order-form' %}">Order now</a>
{% else %}
no item in cart
{% endif %}
{% endblock content %}