{% extends "ecommerce_base/base_with_header.html" %}

{% load static %}
{% block css %}
<link
rel="stylesheet"
type="text/css"
href="{% static 'ecommerce/styles/index.css' %}"
/>
<link
rel="stylesheet"
type="text/css"
href="{% static 'ecommerce/styles/item_list.css' %}"
/>
{% endblock css %}

{% block content %}
<img src="{% static 'ecommerce/assets/images/index-banner.jpg' %}" alt="index-banner" class="index-banner">

{% include 'ecommerce/item_list_templates/item_list.html' %}

{% endblock content %}