{% extends "ecommerce_base/base.html" %}

{% block content %}
{% if user.is_authenticated %}

    {{ user.nickname }}

        {% if orders %}

            {% for order in orders %}

                {% if order.is_paid %}
                    <h3>{{ order.createdAt }}</h3>

                    {% for item in orderItems %}
                        order id: {{item.id}}<br />
                        order: {{item.item}}<br />
                        price: {{item.price}}<br />
                        quantity: {{item.quantity}}<br /><br />
                    {% endfor %}

                {% endif %}

            {% endfor %}

        {% else %}
        no ordered yet

        {% endif %}
    <br /><br />
    {% if reviews %}
        {% for review in reviews %}
            review id: {{review.id}}<br />
            review item: {{review.item}}<br />
        {% endfor %}
    {% else %}
    no review
    {% endif %}

{% else %}
{% endif %}
{% endblock content %}