{% extends "ecommerce_base/base_with_header.html" %}

{% load static %}
{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'ecommerce/styles/profile.css' %}"
/>
{% endblock css %} 

{% block content %}
{% if user.is_authenticated %}
<h1>{{ user.nickname }}</h1>
<a href="{% url 'account_change_password' %}"><button>change password</button></a> 
        <div class="ordered-container">
        {% if orders %}

            {% for order in orders %}
            {% if order.is_paid %}
            <h3>{{ order.createdAt }}</h3>
            <div class="ordered-items">
                {% for item in orderItems %}
                <a href="{% url 'item-detail' item.item.id %}">
                    <div class="ordered-item">
                            <img src="{{item.item.image.url}}" alt="item-img">
                            <div class="item-des">
                                <h1>{{item.item}}</h1>
                                <h4>${{item.price}}</h4>
                                <h4>quantity: {{item.quantity}}</h4>
                            </div>
                    </div>
                </a>
                    {% endfor %}
                {% comment %} <hr style="border: 1px solid #000; width: 100%; margin: 20px 0;"> {% endcomment %}
                {% endif %}
            </div>
            {% endfor %}

        {% else %}
        no ordered yet

        {% endif %}
        </div>
    <br /><br />
    <div class="review-container">
    {% if reviews %}
        {% for review in reviews %}
        <a href="{% url 'item-detail' review.item.id %}#review-{{review.id}}">
            <div class="review-item">
                reviewed item: {{review.item}}
                {% for i in "12345" %}
                {% if forloop.counter <= review.rate %}
                    <span style="color: gold;">&#9733;</span>
                {% else %}
                    <span style="color: lightgray;">&#9733;</span>
                {% endif %}
            {% endfor %}
            </div>
        </a>
        {% endfor %}
    {% else %}
    no review
    {% endif %}
    </div>
    <a href="{% url 'account_logout'%}"><button>logout</button></a>
{% else %}
{% endif %}
{% endblock content %}