{% extends "ecommerce_base/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'ecommerce/styles/signup.css' %}"
/>
{% endblock css %}
{% block content %}
<form method="post">
  {% csrf_token %}
<div class="email-and-nickname">
  <span>
    {{ form.email|add_class:"cp-input"|attr:"placeholder:email"|add_error_class:"error" }}
    {% if form.email.errors %}
      <div class="error">{{ form.email.errors }}</div>
    {% endif %}
  </span>
  <span>
    {{ form.nickname|add_class:"cp-input"|attr:"placeholder:Nickname"|add_error_class:"error" }}
    {% if form.nickname.errors %}
      <div class="error">{{ form.nickname.errors }}</div>
    {% endif %}
  </span>
</div>
<div class="password-container">
  <span>
    {{ form.password1|add_class:"cp-input"|attr:"placeholder:password"|add_error_class:"error" }}
    {% if form.password1.errors %}
      <div class="error">{{ form.password1.errors }}</div>
    {% endif %}
  </span>
    <span>
      {{ form.password2|add_class:"cp-input"|attr:"placeholder:Confirm Password"|add_error_class:"error" }}
      {% if form.password2.errors %}
        <div class="error">{{ form.password2.errors }}</div>
      {% endif %}
    </span>
</div>
  <div class="name-container">
    <span>
      {{ form.firstName|add_class:"cp-input"|attr:"placeholder:First Name"|add_error_class:"error"}}
      {% if form.firstName.errors %}
      <div class="error">{{ form.firstName.errors }}</div>
      {% endif %}
    </span>
    <span>
      {{ form.lastName|add_class:"cp-input"|attr:"placeholder:Last Name"|add_error_class:"error" }}
      {% if form.lastName.errors %}
      <div class="error">{{ form.lastName.errors }}</div>
      {% endif %}
    </span>
  </div>

  <div class="address-container">
    {{ form.address|add_class:"cp-input"|attr:"placeholder:Address"|add_error_class:"error" }}
    {% if form.address.errors %}
      <div class="error">{{ form.address.errors }}</div>
    {% endif %}

    {{ form.city|add_class:"cp-input"|attr:"placeholder:City"|add_error_class:"error" }}
    {% if form.city.errors %}
      <div class="error">{{ form.city.errors }}</div>
    {% endif %}

    {{ form.country|add_class:"cp-input"|attr:"placeholder:Country"|add_error_class:"error" }}
    {% if form.country.errors %}
      <div class="error">{{ form.country.errors }}</div>
    {% endif %}

    {{ form.province|add_class:"cp-input"|attr:"placeholder:Province"|add_error_class:"error" }}
    {% if form.province.errors %}
      <div class="error">{{ form.province.errors }}</div>
    {% endif %}

    {{ form.postalCode|add_class:"cp-input"|attr:"placeholder:Postal Code"|add_error_class:"error" }}
    {% if form.postalCode.errors %}
      <div class="error">{{ form.postalCode.errors }}</div>
    {% endif %}
  </div>

  <button type="submit" class="cp-button">sign up</button>
</form>
{% endblock content %}
